.container {
  flex-shrink: 0;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap; /* Allow components to wrap to the next line */
  justify-content: flex-start;
}
.heading {
  color: #766d6d;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  margin-top: 26px;
}

.data-para {
  color: #766d6d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-top: 26px;

  margin-left: 6px;
}
.example-para {
  color: #766d6d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-left: 6px;
}
